[includeIf "gitdir:~/Developer/work"]
    path = .gitconfig-work
[includeIf "gitdir:~/Developer/personal"]
    path = .gitconfig-personal   

[fetch]
	prune = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential]
	helper = cache
[user]
	name = Mattis Brandsøy
	email = mattis.dev@icloud.com
[rebase]
	autoStash = true
[branch]
	autosetuprebase = always
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
