[includeIf "gitdir:~/Developer/work"]
    path = .gitconfig-work
[includeIf "gitdir:~/Developer/personal"]
    path = .gitconfig-personal   

[fetch]
	prune = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = osxkeychain
