[user]
	name = Mattis Brandsøy
	email = mattis.brandsoy@pm.me
[fetch]
	prune = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = cache
